APP_NAME=HolaFramework
URL_PATH=http://localhost
APP_DEBUG=false
PROJECT_KEY=evAcrka08jQfbHznXbx5W47H6bZKJ6Jg
LANGUAGE=vi
TIMEZONE=Asia/Ho_Chi_Minh

# connection db
DB_CONNECTION=mysql
DB_HOST=mysql_container
DB_PORT=3306
DB_NAME=blog
DB_USERNAME=root
DB_PASSWORD=1

# redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USER=default
REDIS_PASSWORD=null

# Rabbit MQ
RABBITMQ_CONNECTION=rabbitmq
RABBITMQ_HOST=127.0.0.1
RABBITMQ_VHOST=/
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_SCHEME=
RABBITMQ_OPTIONS="[
    'cafile' => null,
    'local_cert' =>null,
    'local_key' => null,
    'verify_peer' => false,
    'passphrase' => null,
]"


# Cache use file or redis
CACHE_STORE=file

# Queue
# QUEUE_WORK use database or redis or rabbitMQ
# QUEUE_CONNECTION name connections in config/queue.php
# QUEUE_TIMEOUT default timeout 10 minutes
QUEUE_WORK=database
QUEUE_CONNECTION=database
QUEUE_TIMEOUT=600

# mail
MAIL_CONNECTION=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=username@gmail.com
MAIL_PASSWORD=password
MAIL_ENCRYPTION=ssl
MAIL_DEBUG=0
# (0) No debug output, default
# (1) Client commands
# (2) Client commands and server responses
# (3) As DEBUG_SERVER plus connection status
# (4) Low-level data output, all messages.
#  end mail